body, html {
    color: #373C40;
    font-family: Verdana,Arial, Helvetica, sans-serif;
    height: 100%;
    margin:10px;
    font-size: 85%;
	background: #000;
	margin:auto;
}
body {
  margin: 0;
  padding: 0;

}
 
nav ul {
    list-style: none;
    display: block;  
    color: #fff;
    
}
nav ul li {
	 font-family: 'Oswald', sans-serif;
    float: right;
    font-size: 16px; 
        margin: -8px 14px;
}
nav ul li a:hover{
       background-color:  red;
       
}

nav ul li a{
    text-decoration: none;
}
 #slider{
    height: 180px;
    width: 180px;
    display: inline;
    margin:35px;
    cursor: pointer;
    border: 2px solid silver;
    -moz-transition:-moz-transform 0.5s ease-in; 
	-webkit-transition:-webkit-transform 0.5s ease-in; 
	-o-transition:-o-transform 0.5s ease-in;
	border: 5px solid #FFA500;
}
#image{
	width: 100%;
    height: auto;
    margin-bottom: 60px;
    border-top: 3px solid #FFF;
    border-bottom: 3px solid #FFF;

}
.pull-right-main-nav {
    float: right;
    margin-bottom: 25px;
}
p{
	font-family: 'Oswald',sans-serif;
	font-size: 189%;
	color:#9E4B4B;
	text-align: center;
	font-weight: 900;
	
}
#companies{
	border-bottom: 1px solid red;
	border-top: 1px solid red;
}  


#slider { transition: all .2s ease-in-out; }
#slider:hover { transform: scale(1.1); }


#loadingImage{
	display:none; 
	z-index: 999; 
	width: 100%; 
	height: 100%; 
	background-color: black;
}
#big_image{
    width:50%;
}


.black_overlay{
display: none;
position: absolute;
top:500px;
left: 0%;
width: 100%;
height: 100%;
background-color: black;
z-index:1001;
-moz-opacity: 0.8;
opacity:.80;
filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 50%;
    height: 55%;
    padding: 16px 16px 42px 100px;
    border: 6px solid #FFA500;
    background-color: #FFF;
    z-index: 1002;
    overflow: auto;
    right: 0%;
    bottom: 0%;
    margin: auto;
}

.popupImg{
	width: 92%;
	height: 84%;
	top:500px;
	float: left;
}
.closeImg{
	text-decoration: none;
	color: #000;
	float:right;
	font-size: 20px;

}
#heading{
	color:rgba(255, 117, 0, 1);
	font-size: 30px;
	
}
#details{
	color: black;
}
@media screen and (max-width: 980px) {
	.white_content {
		width: 100%;
	}
}
footer{
    text-align: center;
    color:white;
    background-color: rgba(173, 50, 50, 1);
    width: 100%;
    margin-top: 50px;
    height: 38px;
    bottom: 0;
   
}
#foot
{

}