


body{
	background: #000;
	}
#image{
	    width: 100%;
    height: auto;
    margin-bottom: 60px;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

#sidebar{
	float: left;
width: 45%;
}
.container{
	
width: 45%;
float:right;
}
h1{
	
	border-bottom: 1px solid red;
}
h1{

	font-family: sans-serif;
	padding: 10px;
	color:rgba(170, 110, 110, 1);
}

p{
	font-family: sans-serif;
	padding: 10px;
	text-align: justify;
	color:rgba(170, 110, 110, 1);
}
.pull-right-main-nav {
    float: right;
    margin-bottom: 25px;
}
nav ul {
    list-style: none;
    display: block;  
     color: #fff;
}
nav ul li {
	 font-family: 'Oswald', sans-serif;
    float: left;
    margin: 10px 20px;
    font-size: 16px;  
}
nav ul li {
    float: left;
    margin: -8px 14px;
}
nav ul li a:hover{
       background-color:rgba(110, 22, 22, 1);
       
}

nav ul li a{
    text-decoration: none;
}
