<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="../assets/css/gallery.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
     <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
     <script src="../assets/javascript/gallery.js" type="text/javascript" charset="utf-8" async defer> </script>
</head>
<body>
<header>
        <nav class="pull-right-main-nav">
        <ul>
        
        <li>
            <a href="home.html" style="color: #FFF"; title="">
                Home
            </a>
        </li>
		<li>
            <a href="registration.html" style="color: #FFF; "title="">Registration</a>
        </li>
		<li>
            <b>Gallery</b>
        </li>

        </ul>
     </header> 
     <div>
<img id="image" src="../assets/images/placementCell.png">
<div id="companies">
	<p>Placement Papers<p>
</div>
</div>
     <section id="destinations">
</section>

</body>
</html>