<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	 <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
</head>

<body a link="white" vlink="white"> 
<header>
        <nav class="pull-right-main-nav">
        <ul>
        
        <li>
            <b>
                Home
            </b>
        </li>
		<li>
            <a href="registration.html" style="color: #FFF; "title="">Registration</a>
        </li>


        </ul>
     </header> 
<div>
<img id="image" src="../assets/images/placementCell.png">
</div>
<div style= "color:white; padding:20px;">
	


	<aside id="sidebar">
	<h1>Let sky be your limit..!!</h1>
		
	<p> Todays modern, sophisticated and fast world,ONLINE PLACEMENT CELL have become a medium of communication among internet users.On one end it is informative,convinient and cost effective.ONLINE PLACEMENT CELL focused on building online communities of people having shared interests.PLACEMENT CELL have common themes of providing best jobs,person to company interaction and creation of shared and collaborated content.</p>
	
	</aside>
	

<div class="container">
<img src="../assets/images/tpa.jpg">

</div>

<footer>
	
</footer>

</body>

</html>