<!DOCTYPE html>
<html>
<head>
	<title>home page</title>
	 <link rel="stylesheet" type="text/css" href="../assets/css/home.css">
</head>

<body a link="white" vlink="white"> 
<header>
        <nav class="pull-right-main-nav">
        <ul>
        
        <li>
            <b>
                Home
            </b>
        </li>
		<li>
            <a href="registration.html" style="color: #FFF; "title="">Registration</a>
        </li>
		<li>
            <a href="gallery.html" style="color: #FFF; "title="">Gallery</a>
        </li

        </ul>
     </header> 
<div>
<img id="image" src="../assets/images/placementCell.png">
</div>
<div style= "color:white; padding:20px;">
	


	<section id="sidebar">
	<span>
	<h1>Let sky be your limit..!!</h1>
		
	<p> Todays modern, sophisticated and fast world,ONLINE PLACEMENT CELL have become a medium of communication among internet users.On one end it is informative,convinient and cost effective.ONLINE PLACEMENT CELL focused on building online communities of people having shared interests.PLACEMENT CELL have common themes of providing best jobs,person to company interaction and creation of shared and collaborated content.Since then, the client list for Freshersworld.com has increased to over 1300 companies. By now, we have made the path for more than 50,000 fresh engineers to reach their dream companies. Now we are into campus/off-campus placements for major companies in India/Abroad.</p>
		</span>
	</section>


<section class="container">
<span>
	<h1>Training and placement activities</h1>
		
	<p> A Complete Portal for Fresh Engineers. It is an exclusive career website aimed just for the service of fresh engineers in India. It is a common platform where corporate recruiters and fresh engineers come under roof. India produces 1 million engg. graduates and post-graduates a year. Indian knowledge industry will add over 6 million graduates to its work force in knowledge industries over next 5 years.In March 2000, as the influence of the Internet was beginning to grow in India, Freshersworld.com was launched as a floorless employment exchange. A platform for employers and jobseekers, to meet and exchange information. The site was launched with databases of jobs, resumes and placement consultants. In June 2000, our service went Global. By then more than 50 companies had tried our services and were satisfied with the responses.  </p>
		</span>
	</section>

	</div>
	


<footer> 

</footer>

</body>

</html>